<!DOCTYPE html>
<html lang="en" style="font-size: 2em "> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}} </title>
    </head>
    <body>
        <pre style="white-space: pre-wrap;">
{{cont|safe}}
        </pre>
    </body>
</html>

