<h2>Mega Millions Numbers for ${MMCURDRAWDAY}, ${MMCURDRAWDATE}; $[Advertised|Estimated] Jackpot: ${MMCURJPANNUITY}</h2>

$[[
$[Here are the|These are the|The following are the|Below are the] Mega Millions numbers for ${MMCURDRAWDAY}, ${MMCURDRAWDATE}: 
||
Mega Millions Lottery is one of the $[largest|biggest] lotteries in the $[U.S.|United States]. $[Here are the|These are the|The following are the|Below are the] ${MMCURDRAWDATE} Mega Millions numbers and results:
]]

<span class="mm1">${WINNUMBERS}</span> and Mega Ball <span class="mb">${MB}</span>.
	
The Megaplier was <span class="mp">${MP}</span>.

$[[
The winning numbers will be $[posted|announced|drawn] at 11 p.m. $[ET|Eastern Time]. Check for the $[official|final] results after the $[drawing time|drawing has ended].
||
$[Reload|Refresh|Come back to|Return to] this page after 11:00 p.m. $[ET|Eastern Time]. Winning Numbers are $[posted|published] here $[right after|immediately after] the live drawing.]]

$[[
The lucky $[winner|person|player] who matches the five $[numbers|winning numbers] and the Mega Ball wins the jackpot for $[tonight's|today's] drawing. 
||
If you match the five Mega Millions $[numbers|winning numbers] and the Mega Ball, you win the jackpot for $[tonight's|today's] drawing!
||
You win the jackpot for tonight if you match the five Mega Millions $[numbers|winning numbers] and the Mega Ball above.
]]

{{if ${WIN} == 0 :: $[[
There was no $[overall|jackpot] winner in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held last ${MMPREVDRAWDAY}</a> so the Mega Millions jackpot has now $[risen|gone up|climbed up|grown up|increased] to:
||
There were no $[overall|jackpot] winners in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held last ${MMPREVDRAWDAY}</a> so the Mega Millions jackpot has now $[risen|gone up|climbed up|grown up|increased] to:
||
$[Nobody|No one] won the jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held last ${MMPREVDRAWDAY}</a>. Hence, the estimated Mega Millions jackpot tonight has now $[risen|gone up|climbed up|grown up|increased] to:
||
Since $[nobody|no one] won the jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">drawing held last ${MMPREVDRAWDAY}</a>, the estimated Mega Millions jackpot for tonight has now $[risen|gone up|climbed up|grown up|increased] to:
]]
$[[
<span class="mmjpa">${MMCURJPANNUITY}</span> with a cash value of <span class="mmjpc">${MMCURJPCASH}</span>.
||
<span class="mmjpa">${MMCURJPANNUITY}</span> with a lumpsum value of <span class="mmjpc">${MMCURJPCASH}</span>.
]]
}}
