<h2>Mega Millions Numbers for ${MMCURDRAWDAY}, ${MMCURDRAWDATE}; $[Advertised jackpot|estimated jackpot|Jackpot for tonight|Jackpot|Estimated jackpot for tonight]: ${MMCURJPANNUITY}</h2>

$[[
$[Here are the|These are the|The following are the] Mega Millions numbers for ${MMCURDRAWDAY}, ${MMCURDRAWDATE}: 
||
Mega Millions Lottery is one of the $[largest|biggest] lotteries in the $[U.S.|United States]. $[Here are the|These are the|The following are the] ${MMCURDRAWDATE} Mega Millions numbers and results:
]]
<span class="mmw">${MM1}</span> - <span class="mmw">${MM2}</span> - <span class="mmw">${MM3}</span> - <span class="mmw">${MM4}</span> - <span class="mmw">${MM5}</span> and Mega Ball <span class="mb">${MB}</span>.
	
The Megaplier was <span class="mp">${MP}</span>.

$[[
The winning numbers will be $[posted|announced|drawn] at 11 p.m. $[ET|Eastern Time]. Check for the $[official|final] results after the $[drawing time|drawing has ended].
||
$[Reload|Refresh|Come back to|Return to] this page after 11:00 p.m. $[ET|Eastern Time]. Winning Numbers are $[posted|published] here $[right after|immediately after] the live drawing.
]]

$[[
The lucky $[winner|person|player] who matches the five $[numbers|winning numbers] and the Mega Ball wins the jackpot for $[tonight's|today's] drawing. 
||
If you match the five Mega Millions $[numbers|winning numbers] and the Mega Ball, you win the jackpot for $[tonight's|today's] drawing!
||
You win the jackpot for tonight if you match the five Mega Millions $[numbers|winning numbers] and the Mega Ball above.
]]


{{if ${PREVWINNO} == 0 :: $[[
There was no $[overall|jackpot] winner in the <a href="../${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held last ${MMPREVDRAWDAY}</a> so the Mega Millions jackpot has now $[risen|gone up|climbed up|grown up|increased] to:
||
There were no $[overall|jackpot] winners in the <a href="../${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held last ${MMPREVDRAWDAY}</a> so the Mega Millions jackpot has now $[risen|gone up|climbed up|grown up|increased] to:
||
$[Nobody|No one] won the jackpot in the <a href="../${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held last ${MMPREVDRAWDAY}</a>. Hence, the estimated Mega Millions jackpot tonight has now $[risen|gone up|climbed up|grown up|increased] to:
||
Since $[nobody|no one] won the jackpot in the <a href="../${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">drawing held last ${MMPREVDRAWDAY}</a>, the estimated Mega Millions jackpot for tonight has now $[risen|gone up|climbed up|grown up|increased] to:
]]
$[[<span class="mmjpa">${MMCURJPANNUITY}</span> with a cash value of <span class="mmjpc">${MMCURJPCASH}</span>.
||<span class="mmjpa">${MMCURJPANNUITY}</span> with a lumpsum value of <span class="mmjpc">${MMCURJPCASH}</span>.
]]}}
{{if ${PREVWINNO} == 1 ::${PREVWINNO} lucky winner from ${WINSTATE1} won the Mega Millions jackpot in the draw held last ${MMPREVDRAWDAY}.}}
{{if ${PREVWINNO} == 2 and ${PREVWINSTATENO} == 2:: ${PREVWINNO} lucky winners won the Mega Millions jackpot in the draw held last ${MMPREVDRAWDAY}. Winning tickets were bought in ${WINSTATE1} and ${WINSTATE2}. Because of this, the jackpot for today's Mega Millions drawing is now back at ${MMINITIALJP}.}}