<h2>Mega Millions Numbers for ${MMCURDRAWDAY}, ${MMCURDRAWDATE}; $[Advertised jackpot|Estimated jackpot|Jackpot for tonight|Jackpot|Estimated jackpot for tonight|Projected jackpot]: ${MMCURJPANNUITY}</h2>

$[[
Millions of dollars are $[at stake|to be given away] in $[today's|tonight's] Mega Millions drawing.
||
With millions of dollars $[at stake|to be given away] all for the price of a lottery ticket, $[many|a lot of|countless of] $[people|players] $[await|tune in to] the Mega Millions drawing every Tuesday and Friday $[in hope of becoming|hoping to become|aspiring to become|seeking to become] the next millionaire.
||
Mega Millions is one of the $[|two] $[largest|biggest|most popular|highly anticipated] $[|multi-state] $[lotteries|lottery games] in the $[U.S.|United States]. 
||
As one of $[America's|U.S.'|United States'] $[largest|biggest|most popular|highly anticipated] $[lotteries|lottery games], millions of $[people|player] $[await|tune in to] the Mega Millions drawing every Tuesday and Friday.
||
$[Will you win some money in ${MMCURDRAWDAY}'s Mega Millions lottery drawing?|Are you the next Mega-millionaire?|Will you be the next Mega-millionaire?|Is today your lucky day?] $[Let's find out below|Check the drawing results below to find out|See the drawing results below to find out|Continue reading the drawing results below to find out].
]]

$[[
$[Here are the|These are the|The following are the] ${MMCURDRAWDATE} Mega Millions winning numbers and results:
||
$[Here are the|These are the|The following are the] Mega Millions winning numbers for ${MMCURDRAWDATE}:
||
For $[today|tonight],${MMCURDRAWDATE}, the Mega Millions winning numbers were:
||
$[Today|Tonight],${MMCURDRAWDATE}, the winning Mega Millions numbers were:
]]

<span class="mmwn">${MM1}</span> <span class="mmwn">${MM2}</span> <span class="mmwn">${MM3}</span> <span class="mmwn">${MM4}</span> <span class="mmwn">${MM5}</span> <span class="mb">${MB}</span>
	
The Megaplier was <span class="mp">${MP}</span>.

$[[
The winning numbers will be $[posted|announced|drawn] at $[11 p.m.|11:00 p.m] $[ET|Eastern Time]. Check the $[official|final] results after the $[drawing time|scheduled drawing time|drawing has ended|live drawing].
||
$[Reload|Refresh|Come back to|Return to] this page after $[11 p.m.|11:00 p.m] $[ET|Eastern Time]. $[Official|Final] winning numbers are $[posted|published] here $[right after|immediately after] the live drawing.
]]

$[[
The lucky $[winner|person|player] who matches the five Mega Millions $[numbers|winning numbers] and the Mega Ball above $[wins|takes home] the $[jackpot|top prize] for $[tonight's|today's] drawing. 
||
The lucky $[winner|person|player] who will match the five Mega Millions $[numbers|winning numbers] and the Mega Ball above $[shall win|will take home] the $[jackpot|top prize] for $[tonight's|today's] drawing. 
||
You $[hit|win] the $[jackpot|top prize] for $[tonight's|today's] drawing if you match $[|all] the five Mega Millions $[numbers|winning numbers] and the Mega Ball above.
||
You $[hit|win] the $[jackpot|top prize] for $[tonight|today] if you match the $[|all] five Mega Millions $[numbers|winning numbers] and the Mega Ball above.
]]

//If there was no previous jackpot winner:

{{if ${PREVWINNO} == 0 :: $[[
There was no $[overall|jackpot|top prize] winner in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a> so the $[|estimated|projected|expected] Mega Millions jackpot has now $[risen|gone up|climbed up|grown up|increased|soared up|amounted] to:
||
There was no $[overall|jackpot|top prize] winner in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a> so the $[|estimated|projected|expected] Mega Millions jackpot $[today|tonight] will $[rise|go up|climb up|grow up|increase|soar up|now amount] to:
||
There were no $[overall|jackpot|top prize] winners in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a> so the $[|estimated|projected|expected] Mega Millions jackpot has now $[risen|gone up|climbed up|grown up|increased|soared up|amounted] to:
||
There were no $[overall|jackpot|top prize] winners in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a> so the $[|estimated|projected|expected] Mega Millions jackpot $[today|tonight] will $[rise|go up|climb up|grow up|increase|soar up|now amount] to:
||
$[Nobody|No one] won the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. Hence, the $[|estimated|projected|expected] Mega Millions jackpot $[today|tonight] has now $[risen|gone up|climbed up|grown up|increased|soared up|amounted] to:
||
Since $[nobody|no one] won the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>, the $[|estimated|projected|expected] Mega Millions jackpot for $[today|tonight] has now $[risen|gone up|climbed up|grown up|increased|soared up|amounted] to:
||
The Mega Millions jackpot $[today|tonight] $[rises|goes up|climbs up|grows up|increases|soars up] again $[because|after|since] $[nobody|no one] won the $[jackpot|top prize] in the in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
||
The Mega Millions jackpot continues to $[rise|go up|climb up|grow|increase|soar up] as there was no winner of the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
]]

$[[
<span class="mmjpa">${MMCURJPANNUITY}</span> with a $[cash|lumpsum|one-time cash] $[option|value|payout] of <span class="mmjpc">${MMCURJPCASH}</span>.
||
<span class="mmjpa">${MMCURJPANNUITY}</span> in annuity value and <span class="mmjpc">${MMCURJPCASH}</span> in $[cash|lumpsum|one-time cash] $[option|value|payout].
||
<span class="mmjpa">${MMCURJPANNUITY}</span> <span class="mmjpc">${MMCURJPCASH}</span> in $[cash|lumpsum|one-time cash] $[option|value|payout].
]]}}

//If there was 1 winner in the previous draw:
{{if ${PREVWINNO} == 1 :: $[[
${PREVWINWORD} lucky $[player|winner] from ${WINSTATE1} $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of:
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PREVWINWORD} lucky $[player|winner] from ${WINSTATE1} $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
]]}}

//If there were 2 winners in the previous draw from different states:
{{if ${PREVWINNO} == 2 and ${PREVWINSTATENO} == 2::$[[
${PREVWINWORD} lucky $[players|winners] $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[lacst ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. Winning tickets were bought in ${WINSTATE1} and ${WINSTATE2}. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of:
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PREVWINWORD} lucky $[players|winners] $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. Winning tickets were bought in ${WINSTATE1} and ${WINSTATE2}. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
]]}}


//If there were 2 winners in the previous draw from the same state:
{{if ${PREVWINNO} == 2 and ${PREVWINSTATENO} == 1::$[[
${PREVWINWORD} lucky $[players|winners] from ${WINSTATE1} $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of:
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PREVWINWORD} lucky $[players|winners] from ${WINSTATE1} $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
]]}}

//If there were 3 winners in the previous draw from different states:
{{if ${PREVWINNO} == 3 and ${PREVWINSTATENO} == 3::$[[
${PREVWINWORD} lucky $[players|winners] $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. The three winning tickets were bought in ${WINSTATE1}, ${WINSTATE2} and ${WINSTATE3}, respectively. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of:
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PREVWINWORD} lucky $[players|winners] $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. The three winning tickets were bought in ${WINSTATE1}, ${WINSTATE2} and ${WINSTATE3}, respectively. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
]]}}

//If there were 3 winners in the previous draw in different states, 2 from same state and 1 from another state:

{{if ${PREVWINNO} == 3 and ${PREVWINSTATENO} == 2::$[[
${PREVWINWORD} lucky $[players|winners] $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. Two of the three tickets were bought in ${WINSTATE1} while the other one was bought in ${WINSTATE2}. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of:
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PREVWINWORD} lucky $[players|winners] $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. Two of the three tickets were bought in ${WINSTATE1} while the other one was bought in ${WINSTATE2}. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
]]}}


//If there were 3 winners in the previous draw, all 3 from the same state:

{{if ${PREVWINNO} == 3 and ${PREVWINSTATENO} == 1::$[[
${PREVWINWORD} lucky $[players|winners] from ${WINSTATE1} $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of:
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PREVWINWORD} lucky $[players|winners] from ${WINSTATE1} $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
]]}}


//If there were 4 or more winners:
{{if ${PREVWINNO} > 3::$[[
${PREVWINWORD} lucky $[players|winners] $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of:
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PREVWINWORD} lucky $[players|winners] $[grabbed|won|hit] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]: 
]]}}


$[[
<span class="mmjpa">${MMCURJPANNUITY}</span> with a $[cash|lumpsum|one-time cash] $[option|value|payout] of <span class="mmjpc">${MMCURJPCASH}</span>.
||
<span class="mmjpa">${MMCURJPANNUITY}</span> in annuity value and <span class="mmjpc">${MMCURJPCASH}</span> in $[cash|lumpsum|one-time cash] $[option|value|payout].
||
<span class="mmjpa">${MMCURJPANNUITY}</span> (<span class="mmjpc">${MMCURJPCASH}</span> in $[cash|lumpsum|one-time cash] $[option|value|payout]).
]]


//Section for previous Powerball drawing results.:
//Mega Millions Payout -- Ideally, this section should only be displayed after the current draw is held.:

<h3>Mega Millions Payout for ${MMCURDRAWDATE}</h3>

$[Here is|This is|The following is|The following table contains|The following table shows] the $[itemized|detailed|complete|actual] ${MMCURDRAWDAY}, ${MMCURDRAWDATE} Mega Milions prize payout:

<table>
<tbody>
<tr>
<th scope="col">Match</th>
<th scope="col">Total Winners</th>
<th scope="col">Base Prize</th>
<th scope="col">Megaplier Prize</th>
</tr>
<tr>
<td>5 Numbers + Mega Ball</td>
<td>${M5MBNO}</td>
<td>${MMCURJPANNUITY}</td>
<td>(Not Applicable)</td>
</tr>
<tr>
<td>5 Numbers</td>
<td>${M5NO}</td>
<td>${M5BASEPRIZE}</td>
<td>{{eval(${M5BASEPRIZE}*${MPVALUE})}} Million</td>
</tr>
<tr>
<td>4 Numbers + Mega Ball</td>
<td>${M4MBNO}</td>
<td>${M4MBBASEPRIZE}</td>
<td>{{eval(${M4MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>4 Numbers</td>
<td>${M4NO}</td>
<td>${M4BASEPRIZE}</td>
<td>{{eval(${M4BASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>3 Numbers + Mega Ball</td>
<td>${M3MBNO}</td>
<td>${M3MBBASEPRIZE}</td>
<td>{{eval(${M3MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>3 Numbers</td>
<td>${M3NO}</td>
<td>${M3BASEPRIZE}</td>
<td>{{eval(${M3BASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>2 Numbers + Mega Ball</td>
<td>${M2MBNO}</td>
<td>${M2MBBASEPRIZE}</td>
<td>{{eval(${M2MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>1 Number + Mega Ball</td>
<td>${M1MBNO}</td>
<td>${M1MBBASEPRIZE}</td>
<td>{{eval(${M1MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>Mega Ball Only</td>
<td>${MBNO}</td>
<td>${MBBASEPRIZE}</td>
<td>{{eval(${MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
</tbody>
</table>

$[[
<u>The $[above fixed prize structure|fixed prize structure above|fixed prize structure shown above] $[applies to|is used in] all member states except California where $[prizes are computed based on parimutel|a parimutel-based prize computation is used].</u>
||
<u>This $[fixed|standard] prize structure $[applies to|is used in] all member states except California where $[prizes are computed based on parimutel|a parimutel-based prize computation is used].</u>
]]


//Detailed winners section:

$[Once again|As a reminder|To emphasize|To recap], the winning numbers for tonight were ${MM1}- ${MM2} - ${MM3} - ${MM4} - ${MM5} $[while the Mega Ball was|and a Mega Ball of| with a Mega Ball of] ${MB} according to the <a href="https://www.megamillions.com/Winning-Numbers.aspx">Mega Millions website</a>.

There were ${M5MBNO} winners of today's Mega Millions jackpot and ${M5NO} winners of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million.

Another ${M4MBNO} lucky $[players|winners] won at least $10,000 each after correctly $[choosing|selecting|picking] $[four of the|four out of five] white balls and the gold Mega Ball .

There were further ${M4NO} $[people|persons|players] who will $[bring home|take home|receive|get] $500 each after matching four white balls but not the Mega Ball.

Their prizes will be multiplied by <strong>${MP}</strong> $[in case|in the event that|if] they $[opted for|selected|have chosen] the $1 Megaplier $[add-on|option].

$[In total|In sum|All in all], there were ${MBNO} tickets purchased that won at least $2 tonight.


<h3>How to play $[Mega Millions|the Mega Millions Lottery|the Mega Millions game]</h3>

<li>
<ol>$[Choose|Select|Pick|Mark] five numbers from 1 to 70 and one Mega Ball number from 1 to 25.</ol>
<ol>$[Choose|Select|Pick|Mark] QP (Quick Pick) if you want the $[computer|terminal] to randomly $[choose|select|pick|mark] the numbers for you.</ol>
<ol>$[Add|Select|Check|Mark] the Megaplier $[add-on|option] for $1 $[in case you want to|if you want to] $[multiply|increase] your $[non-jackpot|lower tier] prizes by 2, 3, 4 or 5 times.</ol>
<ol>$[Choose|Select|Pick|Mark] Multidraw $[in case you want to|if you want to] play the next $[succeeding|subsequent|consecutive] Mega Millions drawings. Ticket costs $2 per play per drawing.</ol>
</li>


//FAQ -- Choose 3 out of 10:

<h3>Mega Millions Frequently Asked Questions</h3>

3$[[
<strong>What is the cost of the Mega Millions Lottery ticket?</strong>

The price of the Mega Millions ticket is $2.00 per play. You can also add the Megaplier to the Mega Millions lottery ticket by additionally paying $1.
||
<strong>What are the possible numbers for Mega Millions?</strong>

Players may pick six numbers from two separate pools of numbers - five different numbers from 1 to 70 (the white balls) and one number from 1 to 25 (the gold Mega Ball) - or select Easy Pick/Quick Pick. You win the jackpot by matching all six winning numbers in a drawing.
||
<strong>How much do you get if you match one number on Mega Millions?</strong>

There is no prize matching only one numbers out of five numbers in Mega Millions.
||
<strong>Does two numbers win anything on Mega Millions?</strong>

There is no prize matching only two numbers out of five numbers in Mega Millions.
||
<strong>How do I know if I win anything on Mega Millions?</strong>

If your five numbers match the five drawn from the first drum in any order, and your Mega Ball matches the number drawn from the second drum, you've won the jackpot. It's also possible to win a secondary prize for matching a fewer number of balls, as outlined below.
||
<strong>How often is the Mega Millions drawing?</strong>

Mega Millions drawings are held Tuesday and Friday at 11:00 pm ET.
||
<strong>Where can I get results for Mega Millions?</strong>

You can check the Mega Millions winning numbers here or watch the live drawing on Youtube or check the official Mega Millions website.
||
<strong>Can I buy Mega Millions tickets online?</strong>

If you are a resident of Georgia, Illinois, Kentucky, Michigan, New Hampshire, North Carolina, North Dakota or Pennsylvania, you may buy Mega Millions tickets online by registering with the lotteries of those states.
||
<strong>Who can play Mega Millions?</strong>

You must be 18 years or older to purchase lottery tickets.
||
<strong>What is the Megaplier?</strong>

The Megaplier is an option that is currently offered in all states that sell Mega Millions tickets except California.  For an extra $1.00 per ticket you can increase your non-jackpot prize winnings by 2, 3, 4, or 5 times.
||
<strong>What is "Just the Jackpot"?</strong>
In some states, a special offer called Just the Jackpot is available.  This wager type allows players to specifically play for the jackpot only, at a lower cost per play.  At a price of $3, the player will receive two plays for the jackpot only.  Just the Jackpot tickets are not eligible for any other prize levels.


<strong>Can I enter Mega Millions if I live outside a participating State or Jurisdiction?</strong>

You can pick your numbers online from all over the world, regardless of your location.
||
<strong>If I win, how long do I have to claim my prize?</strong>

Claim periods vary from state to state and are between 180 days and a year. Check the claim period for your state here. Players are also advised to check the rules of the state where the ticket was purchased as prizes not claimed within the specified time period will expire.
||
<strong>Are Mega Millions winnings taxed?</strong>

Yes. Jackpot winnings are subject to both state and federal taxes which vary from state to state.
||
<strong>Does Mega Millions have a rollover limit or jackpot cap?</strong>

No. Mega Millions does not have a rollover limit or jackpot cap and will continue to roll over until a player matches all five main numbers and the MegaBall drawn.
||
<strong>How do I claim Mega Millions winnings?</strong>

Prizes must be claimed in the state where your ticket was purchased. If you played online, non-jackpot prizes are paid into your account. If you win the jackpot, you will be contacted by a representative after the numbers have been checked and you will then be guided through the claims process.
||
<strong>What are the odds of winning a Mega Millions prize?</strong>

The overall odds of winning a prize are 1 in 24. Find out more about Mega Millions prizes and odds by visiting the dedicated page.
||
<strong>What time do Mega Millions ticket sales close?</strong>

For tickets purchased through a retailer, the cut off time for purchases varies from state to state so please check with the lottery provider in your jurisdiction.
]]
