// 1st Paragraph - H2 - Keyword- Mega Millions Numbers :

<h2>Mega Millions Numbers for ${MMCURDRAWDAY}, ${MMCURDRAWDATE}; $[Jackpot|Jackpot tonight|Jackpot today|Jackpot for tonight|Jackpot for today|Tonight's jackpot|Today's jackpot|Advertised jackpot|Estimated jackpot|Estimated jackpot for tonight||Estimated jackpot for today|Tonight's estimated jackpot||Today's estimated jackpot|Projected jackpot]: ${MMCURJPANNUITY}</h2>

// 2nd Paragraph - P - Keyword- Mega Millions drawing :

$[[
Millions of dollars are $[at stake|to be given away] in $[today's|tonight's] Mega Millions drawing.
||
With millions of dollars $[at stake|to be given away] all for the price of a lottery ticket, $[many|a lot of|countless number of] $[people|players|Americans] $[await|eagerly await|tune in to] the Mega Millions drawing every Tuesday and Friday $[|night|evening] $[in hope of becoming|hoping to become|aspiring to become|seeking to become] the next millionaire.
||
Mega Millions is one of the $[|two] $[largest|biggest|most popular|highly anticipated] $[|multi-state] $[lotteries|lottery games] in the $[U.S.|United States]. 
||
As one of $[America's|U.S.'|United States'] $[largest|biggest|most popular|highly anticipated] $[lotteries|lottery games], millions of $[people|players] $[await|eagerly await|tune in to] the Mega Millions drawing every Tuesday and $[Friday.|Friday night.|Friday evening.]
||
$[Will you win the jackpot in tonight's Mega Millions drawing?|Are you going to be the next millionaire in tonight's Mega Millions drawing?|Will you be the next millionaire in tonight's Mega Millions drawing?|Mega Millions drawing happens in a few hours. Is today your lucky day?] $[Let's find out below|Check the results below to find out|See the results below to find out|Continue reading the results below to find out].
]]

// 5th Paragraph - P - Intro for winning numbers :

$[[
$[Here are the|These are the|The following are the] ${MMCURDRAWDATE} <strong>Mega Millions winning numbers</strong> and results:
||
$[Here are the|These are the|The following are the] <strong>Mega Millions winning numbers</strong> for ${MMCURDRAWDATE}:
||
For $[today|tonight], ${MMCURDRAWDATE}, the <strong>Mega Millions winning numbers</strong> were:
||
$[Today|Tonight], ${MMCURDRAWDATE}, the <strong>winning Mega Millions numbers</strong> were:
]]

// 6th Paragraph - P - The winning numbers :

<span class="mmwn">${MM1}</span> <span class="mmwn">${MM2}</span> <span class="mmwn">${MM3}</span> <span class="mmwn">${MM4}</span> <span class="mmwn">${MM5}</span> <span class="mmmb">${MB}</span>
	
The Megaplier was <span class="mp">${MP}</span>.

// 7th Paragraph - P - Keyword- winning numbers - Reminder to check results after drawing :

$[[
The winning numbers are $[posted|announced|drawn] at $[11 p.m.|11:00 p.m] $[ET|Eastern Time]. Check the $[official|final] results again after the $[drawing time|scheduled drawing time|drawing has ended|live drawing].
||
$[Reload|Refresh|Come back to|Return to] this page after $[11 p.m.|11:00 p.m] $[ET|Eastern Time]. $[Official|Final] winning numbers are $[posted|published] here $[right after|immediately after] the $[drawing time|scheduled drawing time|drawing has ended|live drawing].
]]

// 8th Paragraph - P - Keyword- numbers :

$[[
The lucky $[winner|person|player] who matches $[|all] the five numbers in any order and the $[|gold|yellow] Mega Ball above $[wins|takes home] the $[jackpot|top prize] for $[tonight's|today's] drawing. 
||
The lucky $[winner|person|player] who will match $[|all] the five numbers in any order and the $[|gold|yellow] Mega Ball above $[shall win|will take home] the $[jackpot|top prize] for $[tonight's|today's] drawing. 
||
Matching $[|all] the five numbers in any order and the $[|gold|yellow] Mega Ball above wins you the the $[jackpot|top prize] for $[tonight's|today's] drawing.
||
You $[hit|win] the $[jackpot|top prize] for $[tonight's|today's] drawing if you match $[|all] the five numbers in any order and the $[|gold|yellow] Mega Ball above.
||
You $[hit|win] the $[jackpot|top prize] for $[tonight|today] if you match $[|all] the five numbers in any order and the $[|gold|yellow] Mega Ball above.
]]

// 3rd Paragraph - P - Keyword- Mega Millions jackpot - Current Jackpot IF there was no previous jackpot winner :

{{if ${MMPREVWINNO} == 0 ::$[[
There was no $[overall|jackpot|top prize] winner in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a> so the $[|estimated|projected|expected] Mega Millions jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] has $[risen|gone up|climbed up|grown up|increased|soared up|now amounted] to
||
There was no $[overall|jackpot|top prize] winner in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a> so the $[|estimated|projected|expected] Mega Millions jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] will $[rise|go up|climb up|grow up|increase|soar up|now amount] to
||
There were no $[overall|jackpot|top prize] winners in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a> so the $[|estimated|projected|expected] Mega Millions jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] has $[risen|gone up|climbed up|grown up|increased|soared up|now amounted] to
||
There were no $[overall|jackpot|top prize] winners in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a> so the $[|estimated|projected|expected] Mega Millions jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] will $[rise|go up|climb up|grow up|increase|soar up|now amount] to
||
$[Nobody|No one] won the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. Hence, the $[|estimated|projected|expected] Mega Millions jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] has $[risen|gone up|climbed up|grown up|increased|soared up|now amounted] to
||
Since $[nobody|no one] won the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>, the $[|estimated|projected|expected] Mega Millions jackpot for $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] has $[risen|gone up|climbed up|grown up|increased|soared up|amounted] to
||
The Mega Millions jackpot $[rises|goes up|climbs up|grows up|increases|soars up] again $[because|after|since] $[nobody|no one] won the $[jackpot|top prize] in the in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
||
The Mega Millions jackpot continues to $[rise|go up|climb up|grow|increase|soar up] as there was no winner of the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Mega Millions jackpot - Current Jackpot IF there was 1 winner in the previous draw :

{{if ${MMPREVWINNO} == 1 ::$[[
${MMPREVWINWORD} lucky $[player|winner] from ${WINSTATE1} $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after] ${MMPREVWINWORD} lucky $[player|winner] from ${WINSTATE1} $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Mega Millions jackpot - Current Jackpot IF there were 2 winners in the previous draw from different states :


{{if ${MMPREVWINNO} == 2 and ${MMPREVWINSTATENO} == 2::$[[
${MMPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. Winning tickets were bought in ${WINSTATE1} and ${WINSTATE2}. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${MMPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. Winning tickets were bought in ${WINSTATE1} and ${WINSTATE2}. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Mega Millions jackpot - Current Jackpot IF there were 2 winners in the previous draw from the same state :

{{if ${MMPREVWINNO} == 2 and ${MMPREVWINSTATENO} == 1::$[[
${MMPREVWINWORD} lucky $[players|winners] from ${WINSTATE1} $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${MMPREVWINWORD} lucky $[players|winners] from ${WINSTATE1} $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Mega Millions jackpot - Current Jackpot IF there were 3 winners in the previous draw from different states :

{{if ${MMPREVWINNO} == 3 and ${MMPREVWINSTATENO} == 3::$[[
${MMPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. The three winning tickets were bought in ${WINSTATE1}, ${WINSTATE2} and ${WINSTATE3}, respectively. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${MMPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. The three winning tickets were bought in ${WINSTATE1}, ${WINSTATE2} and ${WINSTATE3}, respectively. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Mega Millions jackpot - Current Jackpot IF there were 3 winners in the previous draw in different states, 2 from same state and 1 from another state :

{{if ${MMPREVWINNO} == 3 and ${MMPREVWINSTATENO} == 2::$[[
${MMPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. Two of the three tickets were bought in ${WINSTATE1} while the other one was bought in ${WINSTATE2}. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${MMPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. Two of the three tickets were bought in ${WINSTATE1} while the other one was bought in ${WINSTATE2}. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}


// 3rd Paragraph - P - Keyword- Mega Millions jackpot - Current Jackpot IF there were 3 winners in the previous draw, all 3 from the same state :

{{if ${MMPREVWINNO} == 3 and ${MMPREVWINSTATENO} == 1::$[[
${MMPREVWINWORD} lucky $[players|winners] from ${WINSTATE1} $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${MMPREVWINWORD} lucky $[players|winners] from ${WINSTATE1} $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to] 
]]}}

// 3rd Paragraph - P - Keyword- Mega Millions jackpot - Current Jackpot IF there were 4 or more winners :

{{if ${MMPREVWINNO} > 3::$[[
${MMPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Mega Millions jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Mega Millions jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${MMPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Mega Millions jackpot in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">previous drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to] 
]]}} $[[
<span class="mmjpa">${MMCURJPANNUITY}</span> with a $[cash|lump sum|one-time cash] $[option|value|payout] of <span class="mmjpc">${MMCURJPCASH}</span>.
||
<span class="mmjpa">${MMCURJPANNUITY}</span> in annuity value and <span class="mmjpc">${MMCURJPCASH}</span> in $[cash|lump sum|one-time cash] $[option|value|payout].
||
<span class="mmjpa">${MMCURJPANNUITY}</span> (<span class="mmjpc">${MMCURJPCASH}</span> in $[cash|lump sum|one-time cash] $[option|value|payout]).
]]

// 9th Paragraph - P - Section for previous Powerball drawing results. :

{{if ${MMPREVWINNO} == 0 and ${PBPREVWINNO} == 0 ::
Meanwhile, $[nobody|no one] also $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">Powerball drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>.}}

{{if ${MMPREVWINNO} == 0 and ${PBPREVWINNO} == 1 ::
While $[nobody|no one] $[won|hit|grabbed] the Mega Millions jackpot last ${MMPREVDRAWDAY}, one lucky $[winner|player] $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">Powerball drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>.}}

{{if ${MMPREVWINNO} == 0 and ${PBPREVWINNO} > 1 ::
While $[nobody|no one] $[won|hit|grabbed] the Mega Millions jackpot last ${MMPREVDRAWDAY}, ${PBPREVWINNO} lucky $[winners|players] $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">Powerball drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>.}}

{{if ${MMPREVWINNO} > 0 and ${PBPREVWINNO} == 0 ::
Meanwhile, $[nobody|no one] $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">Powerball drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>.}}

{{if ${MMPREVWINNO} > 0 and ${PBPREVWINNO} == 1 ::
Meanwhile, one lucky $[winner|player] also $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">Powerball drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>.}}

{{if ${MMPREVWINNO} > 0 and ${PBPREVWINNO} > 1 ::
Meanwhile, ${PBPREVWINNO} lucky $[winners|players] also $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">Powerball drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>.}}


// 10th Paragraph - P - Section for other FLA Lottery games :

{{if ${MMCURDRAWDAY} == "Tuesday" ::
See also the $[results of|winning numbers for|drawing results of|winning combination for] other Florida Lottery games for today, ${MMCURDRAWDAY}, ${MMCURDRAWDATE}: <a href="https://flalotteryresults.com/games/cash4life/">Cash4Life</a>, <a href="https://flalotteryresults.com/games/jackpot-triple-play/">Jackpot Triple Play</a>, <a href="https://flalotteryresults.com/games/fantasy5/">Fantasy5</a>, <a href="https://flalotteryresults.com/games/pick5/">Pick5</a>, <a href="https://flalotteryresults.com/games/pick4/">Pick4</a>, <a href="https://flalotteryresults.com/games/pick3/">Pick3</a> and <a href="https://flalotteryresults.com/games/pick2/">Pick2</a>.}}

{{if ${MMCURDRAWDAY} == "Friday" ::
See also the $[results of|winning numbers for|drawing results of|winning combination for] other Florida Lottery games for today, ${MMCURDRAWDAY}, ${MMCURDRAWDATE}: <a href="https://flalotteryresults.com/games/cash4life/">Cash4Life</a>, <a href="https://flalotteryresults.com/games/jackpot-triple-play/">Jackpot Triple Play</a>, <a href="https://flalotteryresults.com/games/fantasy5/">Fantasy5</a>, <a href="https://flalotteryresults.com/games/pick5/">Pick5</a>, <a href="https://flalotteryresults.com/games/pick4/">Pick4</a>, <a href="https://flalotteryresults.com/games/pick3/">Pick3</a> and <a href="https://flalotteryresults.com/games/pick2/">Pick2</a>.}}

// 10th to 14th Paragraph - H3-P-T-P - Current Mega Millions Payout -- Ideally, this section should only be displayed after the current draw is held. :

<h3>Mega Millions Payout for ${MMCURDRAWDATE}</h3>

$[Here is|This is|The following is|The following table contains|The following table shows] the $[itemized|detailed|complete|actual] prize payout for ${MMCURDRAWDAY}, ${MMCURDRAWDATE}:

<table>
<tbody>
<tr>
<th scope="col">Match</th>
<th scope="col">Winners</th>
<th scope="col">Prize</th>
<th scope="col">Megaplier Prize</th>
</tr>
<tr>
<td>5 Nos + MB</td>
<td>${M5MBNO}</td>
<td>${MMCURJPANNUITY}</td>
<td></td>
</tr>
<tr>
<td>5 Nos</td>
<td>${M5NO}</td>
<td>${M5BASEPRIZE} Million</td>
<td>{{eval(${M5BASEPRIZE}*${MPVALUE})}} Million</td>
</tr>
<tr>
<td>4 Nos + MB</td>
<td>${M4MBNO}</td>
<td>${M4MBBASEPRIZE}</td>
<td>{{eval(${M4MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>4 Nos</td>
<td>${M4NO}</td>
<td>${M4BASEPRIZE}</td>
<td>{{eval(${M4BASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>3 Nos + MB</td>
<td>${M3MBNO}</td>
<td>${M3MBBASEPRIZE}</td>
<td>{{eval(${M3MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>3 Nos</td>
<td>${M3NO}</td>
<td>${M3BASEPRIZE}</td>
<td>{{eval(${M3BASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>2 Nos + MB</td>
<td>${M2MBNO}</td>
<td>${M2MBBASEPRIZE}</td>
<td>{{eval(${M2MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>1 No + MB</td>
<td>${M1MBNO}</td>
<td>${M1MBBASEPRIZE}</td>
<td>{{eval(${M1MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
<tr>
<td>MB only</td>
<td>${MBNO}</td>
<td>${MBBASEPRIZE}</td>
<td>{{eval(${MBBASEPRIZE}*${MPVALUE})}}</td>
</tr>
</tbody>
</table>

$[[
<u>The $[|fixed|standard|] prize $[structure|payout|scheme|table|calculation] $[above|shown above|illustrated above] $[applies to|is used in] $[every|each] $[state|jurisdiction] that $[sells|offers] Mega Millions tickets except California where $[prizes are computed based on parimutel|a parimutel-based prize computation is used].</u>
||
<u>This $[|fixed|standard] prize $[structure|payout|scheme|table|calculation] $[applies to|is used in] all $[states|jurisdictions] that $[sell|offer] Mega Millions tickets except California where $[prizes are computed based on parimutel|a parimutel-based prize computation is used].</u>
]]


// Detailed winners section :

$[Once again|As a reminder|To emphasize|To recap], the Florida winning numbers for $[tonight|today] were <strong>${MM1}</strong>, <strong>${MM2}</strong>, <strong>${MM3}</strong>, <strong>${MM4}</strong> and <strong>${MM5}</strong> $[while the Mega Ball was|and the Mega Ball was| with a Mega Ball of] <strong>${MB}</strong>.

{{if ${M5MBNO} == 0 and ${M5NO} == 0 ::
There was no winner of $[tonight's|today's] Mega Millions jackpot $[amounting to|worth] ${MMCURJPANNUITY} and also no winner of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.megamillions.com/Winning-Numbers.aspx">Mega Millions website</a>.}}

{{if ${M5MBNO} == 0 and ${M5NO} == 1 ::
{[Nobody|No one]} won $[tonight's|today's] Mega Millions jackpot $[amounting to|worth] ${MMCURJPANNUITY} but there was one winner of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.megamillions.com/Winning-Numbers.aspx">Mega Millions website</a>.}}

{{if ${M5MBNO} == 0 and ${M5NO} > 1 ::
There was no winner of $[tonight's|today's] Mega Millions jackpot $[amounting to|worth] ${MMCURJPANNUITY} but there were ${M5NO} lucky winners of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.megamillions.com/Winning-Numbers.aspx">Mega Millions website</a>.}}

{{if ${M5MBNO} == 1 and ${M5NO} == 1 ::
One lucky player won $[tonight's|today's] Mega Millions jackpot $[amounting to|worth] ${MMCURJPANNUITY} while another one $[won|grabbed|hit] the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.megamillions.com/Winning-Numbers.aspx">Mega Millions website</a>.}}

{{if ${M5MBNO} == 1 and ${M5NO} > 1 ::
One lucky player won $[tonight's|today's] Mega Millions jackpot $[amounting to|worth] ${MMCURJPANNUITY} while ${M5NO} more players $[won|grabbed|hit] the the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.megamillions.com/Winning-Numbers.aspx">Mega Millions website</a>.}}

{{if ${M5MBNO} > 1 and ${M5NO} > 1 ::
There were ${M5MBNO} lucky winners of $[tonight's|today's] Mega Millions jackpot $[amounting to|worth] ${MMCURJPANNUITY} and ${M5NO} more winners of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.megamillions.com/Winning-Numbers.aspx">Mega Millions website</a>.}}

Another ${M4MBNO} lucky $[players|winners] $[won|will bring home|will take home|will receive|will get] at least $10,000 each after correctly $[choosing|selecting|picking] $[four of the|four out of the] five white balls and the $[|gold|yellow] Mega Ball.

There were $[additional|further] ${M4NO} $[people|persons|players] who will $[bring home|take home|receive|get] $500 each $[after matching|for matching|because they matched] the four white balls but not the $[|gold|yellow] Mega Ball.

$[In total|In sum|All in all|Finally], there were ${MBNO} tickets purchased that won at least $2 tonight.

Their $[non-jackpot|lower tier] $[prizes|winnings] will be $[increased by|multiplied] <strong>${MP}</strong> $[in case|in the event that|if] they $[opted for|selected|have chosen] the $1 Megaplier $[add-on|option].

<h3>How to play $[Mega Millions|the Mega Millions Lottery|the Mega Millions game]</h3>

<ol>
<li>Go to any Florida Lottery $[retail location|retailer|agent] and $[grab|get] a Mega Millions playslip.</li>
<li>$[Choose|Select|Pick|Mark] five numbers from 1 to 70 and one Mega Ball number from 1 to 25.</li>
<li>$[Choose|Select|Pick|Mark] Quick Pick or Easy Pick if you want the $[computer|terminal] to randomly $[choose|select|pick|mark] the numbers for you.</li>
<li>$[Add|Select|Check|Mark] the Megaplier $[add-on|option] for $1 $[in case you want to|if you want to] $[multiply|increase] your $[non-jackpot|lower tier] prizes by 2, 3, 4 or 5 times.</li>
<li>$[Choose|Check|Select|Pick|Mark] Multidraw $[in case you want to|if you want to] play the next $[succeeding|subsequent|consecutive] Mega Millions drawings. $[Ticket costs|Ticket price is|The ticket costs|The ticket price is] $2 per play per drawing.</li>
<li>$[Keep|Store|Put away|Stow away] your $[|lottery] ticket in a $[safe|secure] place and then check if you matched the Mega Millions numbers after the $[live drawing|drawing has ended|drawing time].</li>
</ol>


// FAQ -- 2 fixed FAQ then choose 3 out of the available FAQs :

<h3>Mega Millions Frequently Asked Questions</h3>

<strong>How often is the Florida Mega Millions drawing?</strong>

Mega Millions drawings are $[held|made] every Tuesday and Friday at 11:00 pm ET.

<strong>Where can I get results for FL Mega Millions?</strong>

You can <a href="https://flalotteryresults.com/games/mega-millions/">check the Mega Millions $[|winning] numbers here</a> or watch the live drawing on Youtube or check the official Mega Millions website.

<strong>How do you win on Mega Millions?</strong>

You win the jackpot by matching the five numbers drawn from the first set of balls in any order and the $[|gold|yellow] Mega Ball drawn from the second set. You also win $[secondary|lower-tier] prizes ranging from $2 to $1,000,000 by matching non-jackpot winning combinations. Your $[secondary|lower-tier|non-jackpot] $[winnings|prizes] will be multiplied by 2,3,4, or 5 times if you $[added|selected|marked] Megaplier on your purchase.

2$[[
<strong>How much is a Mega Millions Lottery ticket?</strong>

The $[price of the Mega Millions ticket|Mega Millions ticket price] is $2 per play. You $[can|may] also add the Megaplier $[option|add-on] to your Mega Millions lottery ticket by $[additionally paying $1|paying an additional $1].
||
<strong>What are the possible numbers for Mega Millions?</strong>

Players can $[pick|select|choose|mark] six numbers from two separate pools of numbers - five different numbers from 1 to 70 (white balls) and one number from 1 to 25 ($[gold|yellow] Mega Ball). Players $[can|may] also $[select|choose|mark] Easy Pick or Quick Pick to let the $[computer|terminal] randomly $[select|choose|mark|pick] the numbers.
||
<strong>How much do you get if you match one number on Mega Millions?</strong>

There is no prize for matching only one number out of the five $[|winning] numbers (white balls) in a Mega Millions drawing.
||
<strong>Does two numbers win anything on Mega Millions?</strong>

There is no prize for matching only two numbers out of the five $[|winning] numbers (white balls) in a Mega Millions drawing.
||
<strong>How much is just the Mega Ball worth?</strong>

You win a $2 prize if the only number you match is the $[yellow|gold] Mega Ball.
||
<strong>How do I know if I win anything on Mega Millions?</strong>

You win the jackpot if your five numbers match the five drawn from the first machine in any order and your Mega Ball matches the number drawn from the second machine. You also win a $[secondary|non-jackpot|lower-tier] prize for matching a fewer number of balls. Matching just the $[|yellow|gold] Mega Ball gives you a $2 prize. However, matching only one or only two numbers (white balls) has no corresponding prize.
||
<strong>Can I buy Mega Millions tickets online?</strong>

$[Residents of|Players from] New Hampshire, Illinois, Georgia, Kentucky, North Carolina, North Dakota, Michigan and Pennsylvania $[may|can] $[buy|purchase] Mega Millions tickets online by registering with $[the lotteries of those states|their state lotteries]. $[Online|Web-based|Internet-based] lottery agents such as theLotter and Jackpot.com also $[let|allow] players from $[around the world|around the globe|outside the United States|outside the U.S.] to $[buy|purchase] official Mega Millions lottery tickets $[online|through the Internet|through the web]. 
||
<strong>Who can play Mega Millions?</strong>

$[You must be 18 years or older|Only 18 years or older are allowed] to $[purchase|buy] Mega Millions lottery tickets.
||
<strong>What is the Megaplier?</strong>

The Megaplier is an $[option|add on] that is currently $[offered|available] in all $[states|jurisdictions] that sell Mega Millions tickets except California.  For an $[extra|additional] $1.00 per ticket you can $[increase|multiply] your $[non-jackpot|lower tier] prize winnings by 2, 3, 4, or 5 times.
||
<strong>What is "Just the Jackpot"?</strong>

In some $[states|jurisdictions], a special wager called 'Just the Jackpot' is $[available|being offered]. This wager type $[allows|lets] players to specifically play $[for the jackpot only|only for the jackpot], at a $[lower|reduced] cost per play.  $[At|For] a price of $3, the player will $[receive|get] two $[plays|tickets] for the jackpot only.  Just the Jackpot $[tickets|wagers] are not $[eligible|qualified] for $[any other|non-jackpot|lower tier] prize levels.
||
<strong>If I win, how long do I have to claim my prize?</strong>

$[The period for claiming prizes|Claim periods] $[vary|differ] $[from state to state|across states] and are between 180 days and a year. $[Make|Be] sure to check the rules of the state where the ticket was $[purchased|bought] $[as|because] $[prizes|winnings] not claimed within the $[specified|specific] time period will expire.
||
<strong>Are Mega Millions winnings taxed?</strong>

Yes. Jackpot winnings are subject to both $[state and federal|federal and state] taxes which $[vary|differ] $[from state to state|across states].
||
<strong>Does Mega Millions have a rollover limit or jackpot cap?</strong>

No. Mega Millions does not have a $[rollover limit or jackpot cap|jackpot cap or rollover limit] and will continue to roll over until a $[player|lucky winner] $[matches all five main numbers and the MegaBall drawn|wins the jackpot|hits the jackpot|grabs the jackpot].
||
<strong>How do I claim Mega Millions winnings?</strong>

Prizes must be claimed $[in|within] the state where you $[purchased|bought] the ticket. If you $[bought|purchased] your ticket through an online lottery agent, your $[non-jackpot|lower tier] prize winnings are paid into your account. If you win the jackpot, you will be contacted by the agent's representative and will be advised $[about|regarding] the $[claims process|process for claiming your prize].
||
<strong>What are the odds of winning a prize in Mega Millions?</strong>

The $[odds|chances] of winning a prize in Mega Millions are 1 in 24. The $[odds|chances] of $[winning|hitting] the Mega Millions jackpot are 1 in 302,575,350.
||
<strong>What time do Mega Millions ticket sales close?</strong>

In Florida, Florida ticket sales usually $[close|end] one hour before 11:00 pm $[Eastern Time|ET]. Please check with the lottery $[provider|retailer] in your jurisdiction as the cut off time $[varies|differs] $[from state to state|across states].
||
<strong>What other lotteries offer Mega Millions?</strong>

Mega Millions is $[offered|played] in 44 states, the District of Columbia and the U.S. Virgin Islands.
||
<strong>Where does the revenue generated from Florida Mega Millions ticket sales go?</strong>

All profits from Mega Millions ticket sales in Florida $[will be|are] transferred to the Educational Enhancement Trust Fund to $[benefit|support] education in the state.
||
<strong>What is the largest Mega Millions jackpot to date?</strong>

The largest Mega Millions jackpot to date was $1.6 Billion for the drawing held on October 23, 2018. The jackpot-winning ticket was $[sold|purchased] in South Carolina.
||
<strong>How will I know if my Mega Millions ticket includes Megaplier?</strong>

The Mega Millions ticket $[that has|with] Megaplier $[has|contains] "Megaplier Yes" $[while|and] the Mega Millions tickets $[that has no|without] Megaplier $[has|contains] "Megaplier No".
||
<strong>What is advance play on Mega Millions?</strong>

Advance Play $[lets|allows] you to play up to 13 weeks or 26 consecutive draws in advance. If you select Megaplier, it will apply to all drawings.
||
<strong>Is it possible to have the same number twice on one line?</strong>
Yes. Since you can $[choose|select|pick|mark] five numbers from 1 through 70 and one Mega Ball number from 1 through 25, it is possible to repeat a number for your Mega Ball number.
||
<strong>Can I claim a Florida Mega Millions winning ticket in another state?</strong>

No. All prizes must be claimed $[in|within] the state where the winning ticket was $[sold|purchased].
]]