// 1st Paragraph - H2 - Keyword- Powerball Numbers ::

<h2>Powerball Numbers for ${PBCURDRAWDAY}, ${PBCURDRAWDATE}; $[Jackpot|Jackpot tonight|Jackpot today|Jackpot for tonight|Jackpot for today|Tonight's jackpot|Today's jackpot|Advertised jackpot|Estimated jackpot|Estimated jackpot for tonight|Estimated jackpot for today|Tonight's estimated jackpot|Today's estimated jackpot|Projected jackpot]: ${PBCURJPANNUITY}</h2>

// 5th Paragraph - P - Intro for winning numbers ::

$[[
$[Here are the|These are the|The following are the] ${PBCURDRAWDATE} <strong>Powerball winning numbers</strong> and results:
||
$[Here are the|These are the|The following are the] <strong>Powerball winning numbers</strong> for ${PBCURDRAWDATE}:
||
For $[today|tonight], ${PBCURDRAWDATE}, the <strong>Powerball winning numbers</strong> were:
||
$[Today|Tonight], ${PBCURDRAWDATE}, the <strong>winning Powerball numbers</strong> were:
]]

// 6th Paragraph - P - The winning numbers ::

<span class="pbwn">${PB1}</span> <span class="pbwn">${PB2}</span> <span class="pbwn">${PB3}</span> <span class="pbwn">${PB4}</span> <span class="pbwn">${PB5}</span> <span class="pbpb">${PB}</span>
	
The Power Play was <span class="mp">${PP}</span>.

// 7th Paragraph - P - Keyword- winning numbers - Reminder to check results after drawing ::
$[[
The winning numbers are $[posted|announced|drawn] at $[11 p.m.|11:00 p.m] $[ET|Eastern Time]. Check the $[official|final] results again after the $[drawing time|scheduled drawing time|drawing has ended|live drawing].
||
$[Reload|Refresh|Come back to|Return to] this page after $[10:59 p.m.|10:59 PM] $[ET|Eastern Time]. $[Official|Final] winning numbers are $[posted|published] here $[right after|immediately after] the $[drawing time|scheduled drawing time|drawing has ended|live drawing].
]]

// 8th Paragraph - P - Keyword- numbers ::

$[[
The lucky $[winner|person|player] who matches $[|all] the $[|first] five numbers in any order and the $[|red] Powerball above $[wins|takes home] the $[jackpot|top prize] for $[tonight's|today's] drawing. 
||
The lucky $[winner|person|player] who will match $[|all] the $[|first] five numbers in any order and the $[|red] Powerball above $[shall win|will take home] the $[jackpot|top prize] for $[tonight's|today's] drawing. 
||
Matching $[|all] the $[|first] five numbers in any order and the $[|red] Powerball above wins you the the $[jackpot|top prize] for $[tonight's|today's] drawing.
||
You $[hit|win] the $[jackpot|top prize] for $[tonight's|today's] drawing if you match $[|all] the $[|first] five numbers in any order and the $[|red] Powerball above.
||
You $[hit|win] the $[jackpot|top prize] for $[tonight|today] if you match $[|all] the $[|first] five numbers in any order and the $[|red] Powerball above.
]]

// 3rd Paragraph - P - Keyword- Powerball jackpot - Current Jackpot IF there was no previous jackpot winner ::

{{if ${PBPREVWINNO} == 0 ::$[[
There was no $[overall|jackpot|top prize] winner in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a> so the $[|estimated|projected|expected] Powerball jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] has $[risen|gone up|climbed up|grown up|increased|soared up|now amounted] to
||
There was no $[overall|jackpot|top prize] winner in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a> so the $[|estimated|projected|expected] Powerball jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] will $[rise|go up|climb up|grow up|increase|soar up|now amount] to
||
There were no $[overall|jackpot|top prize] winners in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a> so the $[|estimated|projected|expected] Powerball jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] has $[risen|gone up|climbed up|grown up|increased|soared up|now amounted] to
||
There were no $[overall|jackpot|top prize] winners in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a> so the $[|estimated|projected|expected] Powerball jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] will $[rise|go up|climb up|grow up|increase|soar up|now amount] to
||
$[Nobody|No one] won the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. Hence, the $[|estimated|projected|expected] Powerball jackpot $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] has $[risen|gone up|climbed up|grown up|increased|soared up|now amounted] to
||
Since $[nobody|no one] won the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>, the $[|estimated|projected|expected] Powerball jackpot for $[tonight|for tonight|for tonight's drawing|today|for today|for today's drawing] has $[risen|gone up|climbed up|grown up|increased|soared up|amounted] to
||
The Powerball jackpot $[rises|goes up|climbs up|grows up|increases|soars up] again $[because|after|since] $[nobody|no one] won the $[jackpot|top prize] in the in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
||
The Powerball jackpot continues to $[rise|go up|climb up|grow|increase|soar up] as there was no winner of the $[jackpot|top prize] in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Powerball jackpot - Current Jackpot IF there was 1 winner in the previous draw ::

{{if ${PBPREVWINNO} == 1 ::$[[
${PBPREVWINWORD} lucky $[player|winner] from ${PBWINSTATE1} $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Powerball jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Powerball jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after] ${PBPREVWINWORD} lucky $[player|winner] from ${PBWINSTATE1} $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Powerball jackpot - Current Jackpot IF there were 2 winners in the previous draw from different states ::

{{if ${PBPREVWINNO} == 2 and ${PBPREVWINSTATENO} == 2::$[[
${PBPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. Winning tickets were bought in ${PBWINSTATE1} and ${PBWINSTATE2}. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Powerball jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Powerball jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PBPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. Winning tickets were bought in ${PBWINSTATE1} and ${PBWINSTATE2}. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Powerball jackpot - Current Jackpot IF there were 2 winners in the previous draw from the same state ::

{{if ${PBPREVWINNO} == 2 and ${PBPREVWINSTATENO} == 1::$[[
${PBPREVWINWORD} lucky $[players|winners] from ${PBWINSTATE1} $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Powerball jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Powerball jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PBPREVWINWORD} lucky $[players|winners] from ${PBWINSTATE1} $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Powerball jackpot - Current Jackpot IF there were 3 winners in the previous draw from different states ::

{{if ${PBPREVWINNO} == 3 and ${PBPREVWINSTATENO} == 3::$[[
${PBPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. The three winning tickets were bought in ${PBWINSTATE1}, ${PBWINSTATE2} and ${PBWINSTATE3}, respectively. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Powerball jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Powerball jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PBPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. The three winning tickets were bought in ${PBWINSTATE1}, ${PBWINSTATE2} and ${PBWINSTATE3}, respectively. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Powerball jackpot - Current Jackpot IF there were 3 winners in the previous draw in different states, 2 from same state and 1 from another state ::

{{if ${PBPREVWINNO} == 3 and ${PBPREVWINSTATENO} == 2::$[[
${PBPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. Two of the three tickets were bought in ${PBWINSTATE1} while the other one was bought in ${PBWINSTATE2}. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Powerball jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Powerball jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PBPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. Two of the three tickets were bought in ${PBWINSTATE1} while the other one was bought in ${PBWINSTATE2}. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to]
]]}}

// 3rd Paragraph - P - Keyword- Powerball jackpot - Current Jackpot IF there were 3 winners in the previous draw, all 3 from the same state ::

{{if ${PBPREVWINNO} == 3 and ${PBPREVWINSTATENO} == 1::$[[
${PBPREVWINWORD} lucky $[players|winners] from ${PBWINSTATE1} $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Powerball jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Powerball jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PBPREVWINWORD} lucky $[players|winners] from ${PBWINSTATE1} $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to] 
]]}}

// 3rd Paragraph - P - Keyword- Powerball jackpot - Current Jackpot IF there were 4 or more winners ::

{{if ${PBPREVWINNO} > 3::$[[
${PBPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[This means that|This would mean that|Because of this,|Hence,|Therefore,|For this reason,|As such,|Consequently,] the Powerball jackpot for $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot of
||
The Powerball jackpot $[today|tonight] $[is now back|defaults back|resets|goes back] to the $[initial|starting|minimum] jackpot $[because|after|since] ${PBPREVWINWORD} lucky $[players|winners] $[won|hit|grabbed] the Powerball jackpot in the <a href="${PBPREVURL}" title="Powerball Numbers ${PBPREVDRAWDATE}">previous drawing held $[last ${PBPREVDRAWDAY}|on ${PBPREVDRAWDAY}, ${PBPREVDRAWDATE}|on ${PBPREVDRAWDATE}|${PBPREVDRAWDAY} evening|${PBPREVDRAWDAY} night]</a>. $[Tonight's|Today's|Latest|Current] jackpot $[is now worth|now amounts to] 
]]}} $[[
<span class="pbjpa">${PBCURJPANNUITY}</span> with a $[cash|lump sum|one-time cash] $[option|value|payout] of <span class="pbjpc">${PBCURJPCASH}</span>.
||
<span class="pbjpa">${PBCURJPANNUITY}</span> in annuity value and <span class="pbjpc">${PBCURJPCASH}</span> in $[cash|lump sum|one-time cash] $[option|value|payout].
||
<span class="pbjpa">${PBCURJPANNUITY}</span> (<span class="pbjpc">${PBCURJPCASH}</span> in $[cash|lump sum|one-time cash] $[option|value|payout]).
]]

// 9th Paragraph - P - Section for previous Mega Millions drawing results. ::

{{if ${PBPREVWINNO} == 0 and ${MMPREVWINNO} == 0 ::
Meanwhile, $[nobody|no one] also $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">Mega Millions drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>.}}

{{if ${PBPREVWINNO} == 0 and ${MMPREVWINNO} == 1 ::
While $[nobody|no one] $[won|hit|grabbed] the Powerball jackpot last ${PBPREVDRAWDAY}, one lucky $[winner|player] $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">Mega Millions drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>.}}

{{if ${PBPREVWINNO} == 0 and ${MMPREVWINNO} > 1 ::
While $[nobody|no one] $[won|hit|grabbed] the Powerball jackpot last ${PBPREVDRAWDAY}, ${MMPREVWINNO} lucky $[winners|players] $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">Mega Millions drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>.}}

{{if ${PBPREVWINNO} > 0 and ${MMPREVWINNO} == 0 ::
Meanwhile, $[nobody|no one] $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">Mega Millions drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>.}}

{{if ${PBPREVWINNO} > 0 and ${MMPREVWINNO} == 1 ::
Meanwhile, one lucky $[winner|player] also $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">Mega Millions drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>.}}

{{if ${PBPREVWINNO} > 0 and ${MMPREVWINNO} > 1 ::
Meanwhile, ${MMPREVWINNO} lucky $[winners|players] also $[won|hit|grabbed] the $[jackpot|top prize] in the <a href="${MMPREVURL}" title="Mega Millions Numbers ${MMPREVDRAWDATE}">Mega Millions drawing held $[last ${MMPREVDRAWDAY}|on ${MMPREVDRAWDAY}, ${MMPREVDRAWDATE}|on ${MMPREVDRAWDATE}|${MMPREVDRAWDAY} evening|${MMPREVDRAWDAY} night]</a>.}}

// 10th Paragraph - P - Section for other FLA Lottery games ::

See also the $[results of|winning numbers for|drawing results of|winning combination for] other Florida Lottery games today: <a href="https://flalotteryresults.com/games/florida-lotto/">Florida Lotto</a>, <a href="https://flalotteryresults.com/games/cash4life/">Cash4Life</a>, <a href="https://flalotteryresults.com/games/fantasy5/">Fantasy5</a>, <a href="https://flalotteryresults.com/games/pick5/">Pick5</a>, <a href="https://flalotteryresults.com/games/pick4/">Pick4</a>, <a href="https://flalotteryresults.com/games/pick3/">Pick3</a> and <a href="https://flalotteryresults.com/games/pick2/">Pick2</a>.

<h3>Powerball Payout for ${PBCURDRAWDATE}</h3>

$[Here is|This is|The following is|The following table contains|The following table shows] the $[itemized|detailed|complete|actual] prize payout for ${PBCURDRAWDAY}, ${PBCURDRAWDATE}:

<table>
    <tbody>
    <tr>
    <th scope="col">Match</th>
    <th scope="col">Winners</th>
    <th scope="col">Prize</th>
    <th scope="col">Power Play Prize</th>
    </tr>
    <tr>
    <td>5 Nos + MB</td>
    <td>${PBM5PBNO}</td>
    <td>${PBCURJPANNUITY}</td>
    <td></td>
    </tr>
    <tr>
    <td>5 Nos</td>
    <td>${PBM5NO}</td>
    <td>${PBM5BASEPRIZE} Million</td>
    <td>{{eval(${PBM5BASEPRIZE}*${PPVALUE})}} Million</td>
    </tr>
    <tr>
    <td>4 Nos + MB</td>
    <td>${PBM4PBNO}</td>
    <td>${PBM4PBBASEPRIZE}</td>
    <td>{{eval(${PBM4PBBASEPRIZE}*${PPVALUE})}}</td>
    </tr>
    <tr>
    <td>4 Nos</td>
    <td>${PBM4NO}</td>
    <td>${PBM4BASEPRIZE}</td>
    <td>{{eval(${PBM4BASEPRIZE}*${PPVALUE})}}</td>
    </tr>
    <tr>
    <td>3 Nos + MB</td>
    <td>${PBM3PBNO}</td>
    <td>${PBM3PBBASEPRIZE}</td>
    <td>{{eval(${PBM3PBBASEPRIZE}*${PPVALUE})}}</td>
    </tr>
    <tr>
    <td>3 Nos</td>
    <td>${PBM3NO}</td>
    <td>${PBM3BASEPRIZE}</td>
    <td>{{eval(${PBM3BASEPRIZE}*${PPVALUE})}}</td>
    </tr>
    <tr>
    <td>2 Nos + MB</td>
    <td>${PBM2PBNO}</td>
    <td>${PBM2PBBASEPRIZE}</td>
    <td>{{eval(${PBM2PBBASEPRIZE}*${PPVALUE})}}</td>
    </tr>
    <tr>
    <td>1 No + MB</td>
    <td>${PBM1PBNO}</td>
    <td>${PBM1PBBASEPRIZE}</td>
    <td>{{eval(${PBM1PBBASEPRIZE}*${PPVALUE})}}</td>
    </tr>
    <tr>
    <td>PB only</td>
    <td>${PBNO}</td>
    <td>${PBPBBASEPRIZE}</td>
    <td>{{eval(${PBPBBASEPRIZE}*${PPVALUE})}}</td>
    </tr>
    </tbody>
</table>
$[[
<u>The $[|fixed|standard|] prize $[structure|payout|scheme|table|calculation] $[above|shown above|illustrated above] $[applies to|is used in] $[every|each] $[state|jurisdiction] that $[sells|offers] Powerball tickets except California where $[prizes are computed based on parimutel|a parimutel-based prize computation is used].</u>
||
<u>This $[|fixed|standard] prize $[structure|payout|scheme|table|calculation] $[applies to|is used in] all $[states|jurisdictions] that $[sell|offer] Powerball tickets except California where $[prizes are computed based on parimutel|a parimutel-based prize computation is used].</u>
]]


// Detailed winners section ::

$[Once again|As a reminder|To emphasize|To recap], the Florida Powerball winning numbers for $[tonight|today] were <strong>${PB1}</strong>, <strong>${PB2}</strong>, <strong>${PB3}</strong>, <strong>${PB4}</strong> and <strong>${PB5}</strong> $[while the Powerball was|and the Powerball was| with a Powerball of] <strong>${PB}</strong>.


{{if ${PBM5PBNO} == 0 and ${PBM5NO} == 0 ::
There was no winner of $[tonight's|today's] Powerball jackpot $[amounting to|worth] ${PBCURJPANNUITY} and also no winner of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.powerball.com/games/powerball">Powerball website</a>.}}

{{if ${PBM5PBNO} == 0 and ${PBM5NO} == 1 ::
{[Nobody|No one]} won $[tonight's|today's] Powerball jackpot $[amounting to|worth] ${PBCURJPANNUITY} but there was one winner of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.powerball.com/games/powerball">Powerball website</a>.}}

{{if ${PBM5PBNO} == 0 and ${PBM5NO} > 1 ::
There was no winner of $[tonight's|today's] Powerball jackpot $[amounting to|worth] ${PBCURJPANNUITY} but there were ${PBM5NO} lucky winners of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.powerball.com/games/powerball">Powerball website</a>.}}

{{if ${PBM5PBNO} == 1 and ${PBM5NO} == 1 ::
One lucky player won $[tonight's|today's] Powerball jackpot $[amounting to|worth] ${PBCURJPANNUITY} while another one $[won|grabbed|hit] the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.powerball.com/games/powerball">Powerball website</a>.}}

{{if ${PBM5PBNO} == 1 and ${PBM5NO} > 1 ::
One lucky player won $[tonight's|today's] Powerball jackpot $[amounting to|worth] ${PBCURJPANNUITY} while ${PBM5NO} more players $[won|grabbed|hit] the the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.powerball.com/games/powerball">Powerball website</a>.}}

{{if ${PBM5PBNO} > 1 and ${PBM5NO} > 1 ::
There were ${PBM5PBNO} lucky winners of $[tonight's|today's] Powerball jackpot $[amounting to|worth] ${PBCURJPANNUITY} and ${PBM5NO} more winners of the $[second prize|2nd tier prize] $[worth|amounting to] $1 million according to the <a href="https://www.powerball.com/games/powerball">Powerball website</a>.}}

Another ${PBM4PBNO} lucky $[players|winners] $[won|will bring home|will take home|will receive|will get] at least $50,000 each after correctly $[choosing|selecting|picking] $[four of the|four out of the] $[|first] five white balls and the $[|red] Powerball.

There were $[additional|further] ${PBM4NO} $[people|persons|players] who will $[bring home|take home|receive|get] $100 each $[after matching|for matching|because they matched] the four white balls but not the $[|red] Powerball.

$[In total|In sum|All in all|Finally], there were ${PBNO} tickets purchased that won at least $2 tonight.

Their $[non-jackpot|lower tier] $[prizes|winnings] will be $[increased by|multiplied] <strong>${PP}</strong> $[in case|in the event that|if] they $[opted for|selected|have chosen] the $1 Power Play $[add-on|option].

<h3>How to play $[Powerball|the Powerball Lottery|the Powerball game]</h3>

<ol>
<li>Go to any Florida Lottery $[retail location|retailer|agent] and $[grab|get] a Powerball playslip.</li>
<li>$[Choose|Select|Pick|Mark] five numbers from 1 to 69 and one Powerball number from 1 to 26.</li>
<li>$[Choose|Select|Pick|Mark] Quick Pick or Easy Pick if you want the $[computer|terminal] to randomly $[choose|select|pick|mark] the numbers for you.</li>
<li>$[Add|Select|Check|Mark] the Power Play $[add-on|option] for $1 $[in case you want to|if you want to] $[multiply|increase] your $[non-jackpot|lower tier] prizes by 2, 3, 4 or 5 times.</li>
<li>$[Choose|Check|Select|Pick|Mark] Multidraw $[in case you want to|if you want to] play the next $[succeeding|subsequent|consecutive] Powerball drawings. $[Ticket costs|Ticket price is|The ticket costs|The ticket price is] $2 per play per drawing.</li>
<li>$[Keep|Store|Put away|Stow away] your $[|lottery] ticket in a $[safe|secure] place and then check if you matched the Powerball numbers after the $[live drawing|drawing has ended|drawing time].</li>
</ol>


// FAQ -- 2 fixed FAQ then choose 3 out of the available FAQs ::

<h3>Powerball Frequently Asked Questions</h3>

<strong>How often is the Florida Powerball drawing?</strong>

Powerball drawings are $[held|made] every Wednesday and Saturday at 10:59 pm ET.

<strong>Where can I get results for FL Powerball?</strong>

You can <a href="https://flalotteryresults.com/games/powerball/">check the Powerball $[|winning] numbers here</a> or watch the live drawing on Youtube or check the official Powerball website.

<strong>How do you win on Powerball?</strong>

You win the jackpot $[by matching|when you match] the $[|first] five numbers drawn from the first set of balls in any order and the $[|red] Powerball drawn from the second set. You also win $[secondary|lower-tier] prizes ranging from $2 to $1,000,000 $[by matching|when you match] the non-jackpot winning combinations. Your $[secondary|lower-tier|non-jackpot] $[winnings|prizes] will be multiplied by 2,3,4, or 5 times if you $[added|selected|marked] Power Play on your purchase.

2$[[
<strong>How much is a Powerball Lottery ticket?</strong>

The $[price of the Powerball ticket|Powerball ticket price] is $2 per play. You $[can|may] also add the Power Play $[option|add-on] to your Powerball lottery ticket by $[additionally paying $1|paying an additional $1].
||
<strong>What are the possible numbers for Powerball?</strong>

Players can $[pick|select|choose|mark] six numbers from two separate pools of numbers - five different numbers from 1 to 69 (white balls) and one number from 1 to 26 $[|red] (Powerball). Players $[can|may] also $[select|choose|mark] Easy Pick or Quick Pick to let the $[computer|terminal] randomly $[select|choose|mark|pick] the numbers.
||
<strong>How much do you get if you match one number on Powerball?</strong>

There is no prize for matching only one number out of the $[|first] five $[|winning] numbers (white balls) in a Powerball drawing.
||
<strong>Does two numbers win anything on Powerball?</strong>

There is no prize for matching only two numbers out of the $[|first] five $[|winning] numbers (white balls) in a Powerball drawing.
||
<strong>How much is just the Powerball worth?</strong>

You win a $4 prize if the only number you match is the $[|red] Powerball.
||
<strong>How do I know if I win anything on Powerball?</strong>

You win the jackpot if your $[|first] five numbers match the five drawn from the first machine in any order and your Powerball matches the number drawn from the second machine. You also win a $[secondary|non-jackpot|lower-tier] prize for matching a fewer number of balls. Matching just the $[|red] Powerball gives you a $2 prize. However, matching only one or only two numbers (white balls) has no corresponding prize.
||
<strong>Can I buy Powerball tickets online?</strong>

$[Residents of|Players from] New Hampshire, Illinois, Georgia, Kentucky, North Carolina, North Dakota, Michigan and Pennsylvania $[may|can] $[buy|purchase] Powerball tickets online by registering with $[the lotteries of those states|their state lotteries]. $[Online|Web-based|Internet-based] lottery agents such as theLotter and Jackpot.com also $[let|allow] players from $[around the world|around the globe|outside the United States|outside the U.S.] to $[buy|purchase] official Powerball lottery tickets $[online|through the Internet|through the web]. 
||
<strong>Who can play Powerball?</strong>

$[You must be 18 years or older|Only 18 years or older are allowed] to $[purchase|buy] Powerball lottery tickets.
||
<strong>What is the Power Play?</strong>

The Power Play is an $[option|add on] that is currently $[offered|available] in all $[states|jurisdictions] that sell Powerball tickets except California.  For an $[extra|additional] $1.00 per ticket you can $[increase|multiply] your $[non-jackpot|lower tier] prize winnings by 2, 3, 4, or 5 times.
||
<strong>If I win, how long do I have to claim my prize?</strong>

$[The period for claiming prizes|Claim periods] $[vary|differ] $[from state to state|across states] and are between 180 days and a year. $[Make|Be] sure to check the rules of the state where the ticket was $[purchased|bought] $[as|because] $[prizes|winnings] not claimed within the $[specified|specific] time period will expire.
||
<strong>Are Powerball winnings taxed?</strong>

Yes. Jackpot winnings are subject to both $[state and federal|federal and state] taxes which $[vary|differ] $[from state to state|across states].
||
<strong>Does Powerball have a rollover limit or jackpot cap?</strong>

No. Powerball does not have a $[rollover limit or jackpot cap|jackpot cap or rollover limit] and will continue to roll over until a $[player|lucky winner] $[matches all five main numbers and the Powerball drawn|wins the jackpot|hits the jackpot|grabs the jackpot].
||
<strong>How do I claim Powerball winnings?</strong>

Prizes must be claimed $[in|within] the state where you $[purchased|bought] the ticket. If you $[bought|purchased] your ticket through an online lottery agent, your $[non-jackpot|lower tier] prize winnings are paid into your account. If you win the jackpot, you will be contacted by the agent's representative and will be advised $[about|regarding] the $[claims process|process for claiming your prize].
||
<strong>What are the odds of winning a prize in Powerball?</strong>

The $[odds|chances] of winning a prize in Powerball are 1 in 24. The $[odds|chances] of $[winning|hitting] the Powerball jackpot are 1 in 302,575,350.
||
<strong>What time do Powerball ticket sales close?</strong>

In Florida, Florida ticket sales usually $[close|end] one hour before 11:00 pm $[Eastern Time|ET]. Please check with the lottery $[provider|retailer] in your jurisdiction as the cut off time $[varies|differs] $[from state to state|across states].
||
<strong>What other lotteries offer Powerball?</strong>

Powerball is $[offered|played] in 44 states, the District of Columbia and the U.S. Virgin Islands.
||
<strong>Where does the revenue generated from Florida Powerball ticket sales go?</strong>

All profits from Powerball ticket sales in Florida $[will be|are] transferred to the Educational Enhancement Trust Fund to $[benefit|support] education in the state.
||
<strong>What is the largest Powerball jackpot to date?</strong>

The largest Powerball jackpot to date was $1.6 Billion for the drawing held on October 23, 2018. The jackpot-winning ticket was $[sold|purchased] in South Carolina.
||
<strong>How will I know if my Powerball ticket includes Power Play?</strong>

The Powerball ticket $[that has|with] Power Play $[has|contains] "Power Play Yes" $[while|and] the Powerball tickets $[that has no|without] Power Play $[has|contains] "Power Play No".
||
<strong>What is advance play on Powerball?</strong>

Advance Play $[lets|allows] you to play up to 13 weeks or 26 consecutive draws in advance. If you select Power Play, it will apply to all drawings.
||
<strong>Is it possible to have the same number twice on one line?</strong>
Yes. Since you can $[choose|select|pick|mark] $[|first] five numbers from 1 through 69 and one Powerball number from 1 through 26, it is possible to repeat a number for your Powerball number.
||
<strong>Can I claim a Florida Powerball winning ticket in another state?</strong>

No. All prizes must be claimed $[in|within] the state where the winning ticket was $[sold|purchased].
]]